* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

:root {
    --text-color: #3A3A3A;
    --border-color: #F1E4FF;
    --text-dark: #18191F;
    --btn-color: #E02C6D;
}

/* ===============Header section starts============== */
header {
    width: 100%;
    color: var(--text-color);
}

.menu-bar {
    display: flex;
    width: 1050px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.menu-logo h2 {
    font-size: 24px;
    font-weight: 700;
}

.menu-items ul {
    display: flex;
}

.menu-items ul li {
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    padding-left: 34px;
}

.menu-items ul li a {
    text-decoration: none;
    color: var(--text-color);
}

/* ===============Header section ends============== */

/* ===============main section starts============== */
main {
    width: 1050px;
    margin: auto;
    color: var(--text-color);
}

/* ===============Main-Top section starts============== */
.main-top {
    display: flex;
    align-items: center;
    height: 500px;
}

.main-text {
    width: 55%;
}

.main-text h1 {
    font-size: 52px;
    font-weight: 700;
}

.main-text p {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 30px;
}

.main-text a {
    padding: 10px 24px;
    background: var(--btn-color);
    border-radius: 25px;
    text-decoration: none;
    color: white;
}

.main-text a i {
    padding-top: 50px;
}

.main-img {
    width: 40%;
    background-image: url(../images/Circle\ design.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-img img {
    width: 100%;
}

/* ===============Main-Top section ends============== */

hr {
    /* color: #ffffff; */
    background: #000;
    margin: 20px auto;
}

/* ===============Company-Logo section starts============== */
.company-logo {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.company-logo a {
    text-decoration: none;
}

.company-logo img {
    width: 80px;
    height: 40px;
}

/* ===============Company-Logo section ends============== */

/* ===============Popular Collection section starts============== */
.products-head {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: var(--text-color);
}

.devices {
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: auto;
}

.device {
    width: 310px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 15px;
}

.device-img img {
    width: 280px;
}

.device-text h2 {
    font-size: 28px;
    font-weight: 500;
    color: var(--text-dark);
}

.device-text h3 {
    font-size: 18px;
    font-weight: 500;
}

.device-text p {
    color: #787885;
    font-size: 14px;
    font-weight: 700;
}

.ratings {
    display: flex;
}

.fa-star,
.fa-star-half-stroke {
    color: #FB8200;
}

.ratings p {
    font-size: 14px;
    font-weight: 700;
    color: #5E6366;
}

/* ===============Popular Collection section ends============== */
.more-opt {
    margin: 50px 0;
    text-align: right;
    width: 1020px;
}

.more-opt a {
    text-decoration: none;
    color: var(--btn-color);
}

/* ===============Featured Products section starts============== */
.feature-sec {
    display: flex;
    align-items: center;
}

.feature-img img {
    width: 405px;
}

.feature-text {
    margin-left: 30px;
}

.feature-text h2 {
    font-size: 38px;
    font-weight: 700;
    color: #0A0826;
}

.feature-text p {
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 700;
    width: 500px;
    padding: 20px 0 25px;
}

.feature-text a {
    padding: 5px 15px;
    background: var(--btn-color);
    text-decoration: none;
    color: #FFF;
    border-radius: 5px;
}

/* ===============Featured Products section ends============== */

/* ===============main section ends============== */

/* ===============Footer section starts============== */
footer {
    width: 100%;
    background-color: #0A0826;
    color: white;
    text-align: center;
    margin-top: 100px;
    padding: 20px 0;
}

footer h3 {
    font-size: 24px;
    font-weight: 700;
}

footer p {
    font-size: 14px;
    font-weight: 500;
    padding: 5px 0;
}

.social-sites a {
    text-decoration: none;
    color: white;
    background-color: #151238;
    border-radius: 25px;
}

.social-sites a i {
    margin: 20px;
}

/* ===============Footer section ends============== */